* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1300px;
	margin: auto;
	background: #fff;
}

.clearfix {

}

header {
	width: 100%;
	height: 130px;
	border-top: 8px solid #a292b3;
}

.logo {
	margin: 30px 0 20px 0;
}

.menu {
	
}

.menu li {
	display: inline-block;
	float: right;
	list-style: none;
}